<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anshul.popularmovies">

    <!-- Internet permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/film_reel"
        android:label="@string/app_name"
        android:roundIcon="@drawable/film_reel"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.example.anshul.popularmovies.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.anshul.popularmovies.MovieDetail"
            android:parentActivityName="com.example.anshul.popularmovies.MainActivity">
        </activity>

        <provider
            android:authorities="com.example.anshul.popularmovies"
            android:name="com.example.anshul.popularmovies.data.FavoriteContentProvider"
            android:exported="false"/>

    </application>

</manifest>